# IntelliJ IDEA Project files
.idea/
*.iml
*.ipr
*.iws
out/

#Visual studio code project files
.vscode/
.vs/
.history/

#Eclipse project files
.project

#npm
node_modules/

#Local package files
package-lock.json

#System files
.DS_Store
desktop.ini
Thumbs.db

#Temporary files or Cache files
.cache/
*.tmp
*.tmpe
*.swp
*.*~
~*.*

#~$*.doc
#~$*.docx
#~$*.ppt
#~$*.pptx
#~$*.xls
#~$*.xlsx

#Backup files
*.bak

#Log files
*.log

#Build files
dist/