//display
.dis-ib {
  display: inline-block;
}

//float
.fl {
  float: left;
}
.fr {
  float: right;
}

//margin
.mb10 {
  margin-bottom: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mtb5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mga {
  margin: 0 auto;
}

//padding
.pb20 {
  padding-bottom: 20px;
}
.pd20 {
  padding: 20px;
}

//line-height
.lh21 {
  line-height: 21px;
}

//text-align
.txt-c {
  text-align: center;
}
.txt-l {
  text-align: left;
}
.txt-r {
  text-align: right;
}

// color
.co-gray {
  color: #999;
}

//font-size
.ft-12 {
  font-size: 12px;
}

// clear
.clear {
  clear: both;
}
