//display
.dis-ib {
  display: inline-block;
}

//margin
.mtb5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

//line-height
.lh21 {
  line-height: 21px;
}

//text-align
.txt-c {
  text-align: center;
}
